<!DOCTYPE html>
<html>
<head>
  <title>Campus addition</title>
</head>
<body>
  <form action="/campus" method="POST">
    <input type="text" name="campus_name" placeholder="Campus">
    <button type="submit">Save</button>
  </form>
</body>
</html>